<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment.html::head"></head>

<nav th:replace="fragment.html::navigation"></nav>
<div class="container">
    <div class="py-5 text-center">
        <h2><a th:href="@{'/meeting/'+${meeting.url}}">
            <span th:text="${meeting.title}">모임</span></a> / 리얼 모임 만들기</h2>
    </div>
    <div class="row justify-content-center">
        <form class="needs-validation col-sm-10" th:action="@{'/meeting/'+${meeting.url}+'/new-event'}"
              th:object="${eventFormDto}" method="post" novalidate>

            <div class="form-group">
                <label for="title">모임 이름</label>
                <input id="title" type="text" th:field="*{title}" class="form-control"
                       placeholder="모임 이름" aria-describedby="titleHelp" required>
                <small class="invalid-feedback">모임 이름을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}"
                       th:errors="*{title}">Error</small>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="limit_members">모집 인원</label>
                    <input id="limit_members" type="number" th:field="*{limit_members}"
                           class="form-control" placeholder="0" aria-describedby="limit_membersHelp">
                    <small id="limit_membersHelp" class="form-text text-muted">
                        모집하려는 인원을 입력해주세요.
                    </small>
                    <small class="invalid-feedback">모임 인원을 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('limit_members')}"
                           th:errors="*{limit_members}">Error</small>
                </div>
                <div class="form-group col-md-4">
                    <label for="startTime">모임 시작 일시</label>
                    <input id="startTime" type="datetime-local" th:field="*{startTime}"
                           class="form-control" aria-describedby="startTimeHelp">
                    <small id="startTimeHelp" class="form-text text-muted">
                        모임 시작 일시를 입력하세요.
                    </small>
                    <small class="invalid-feedback">모임 시작 일시를 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('startTime')}"
                           th:errors="*{startTime}">Error</small>
                </div>

                <div class="form-group col-md-4">
                    <label for="endTime">모임 종료 일시</label>
                    <input id="endTime" type="datetime-local" th:field="*{endTime}"
                           class="form-control" aria-describedby="endTimeHelp">
                    <small id="endTimeHelp" class="form-text text-muted">
                        모임 종료 일시가 지나면 모임은 자동으로 종료상태로 바뀝니다.
                    </small>
                    <small class="invalid-feedback">모임 종료 일시를 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('endTime')}"
                           th:errors="*{endTime}">Error</small>
                </div>
            </div>

            <div class="form-group">
                <label for="description">모임 설명</label>
                <textarea id="description" type="textarea" th:field="*{description}" class="editor form-control"
                          placeholder="모임을 자세히 설명해 주세요." aria-describedby="descriptionHelp"></textarea>
                <small id="descriptionHelp" class="form-text text-muted">
                    모임에서 다루는 주제, 장소, 진행방식 등을 자세히 적어주세요.
                </small>
                <small class="invalid-feedback">모임 설명을 입력하세요.</small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('description')}"
                       th:errors="*{description}">Error</small>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit"
                        aria-describedby="submitHelp">모임 만들기
                </button>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragment.html::footer"></div>
<script th:replace="fragment.html::validation"></script>
<script th:replace="fragment.html::summernote"></script>
</body>
</html>
