<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head th:replace="fragment.html::head"></head>
<style>
</style>
<body>
<div th:replace="fragment.html :: nav"></div>
<!-- https://bootsnipp.com/snippets/M48pA -->
<link th:href="@{/css/profile.css} " rel="stylesheet"/>

<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <svg th:if="${#strings.isEmpty(account.profileImage)}"
                         class="img-fluid float-left rounded img-thumbnail"
                         th:data-jdenticon-value="${account.username}" width="125" height="125"></svg>
                    <img th:if="${!#strings.isEmpty(account.profileImage)}"
                         class="img-fluid float-left rounded img-thumbnail"
                         th:src="${account.profileImage}" width="125" height="125">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        <h3 class="display-4" th:text="${account.username}"></h3>
                    </div>
                </div>
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu" text-align="center">
                    <ul class="nav">
                        <li class="active">
                            &nbsp; &nbsp;&nbsp;&nbsp; <a href="#"> Overview </a> &nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                        <li>
                            <a th:href="@{/settings/profile}"> Account Settings </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel"
                         aria-labelledby="v-pills-profile-tab">

                        <p class="lead" th:if="${#strings.isEmpty(account.bio)}">
                            <span style="font-size:20px;">소개</span>
                            <span th:text="${account.bio}" class="col-9">한 줄 소개를 추가하세요.</span>
                        </p>

                        <p th:if="${!#strings.isEmpty(account.age)}">
                            <span style="font-size:20px;">나이</span>
                            <span th:text="${account.age}" class="col-9">나이를 입력해주세요.</span>
                        </p>
                        <p th:if="${!#strings.isEmpty(account.job)}">
                            <span style="font-size:20px;">직업</span>
                            <span th:text="${account.job}" class="col-9"></span>
                        </p>
                        <p th:if="${!#strings.isEmpty(account.location)}">
                            <span style="font-size:20px;">사는 곳</span>
                            <span th:text="${account.location}" class="col-9">사는 곳을 기입해주세요.</span>
                        </p>
                        <p th:if="${!#strings.isEmpty(account.email)}">
                            <span style="font-size:20px;">이메일</span>
                            <span th:text="${account.email}" class="col-9"></span>
                        </p><br><br>

                        <div class="modify-tab">
                            <a class="btn btn-outline-primary" href="#" th:href="@{/settings/profile}">수정하기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragment.html :: footer"></div>
<br>
<br>
