<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment.html::head"></head>
<nav th:replace="fragment.html::navigation"></nav>

<div class="py-5 text-center">
    <h1>LOGIN</h1>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link th:href="@{/css/login.css} " rel="stylesheet"/>

<div class="row justify-content-center">
    <div th:if="${param.error}" class="alert alert-danger" role="alert">
        <p>이메일 또는 비밀번호가 정확하지 않습니다.</p>
    </div>
</div>

<body>
<div class="login-form">
    <form class="needs-validation" th:action="@{/login}" method="post" novalidate>
        <div class="form-group">
            <input id="username" type="text" name="username" class="form-control"
                   placeholder="ID or Email" required>
            <span class="input-icon"><i class="fa fa-envelope"></i></span>
            <small class="invalid-feedback">아이디를 입력하세요.</small>
        </div>
        <div class="form-group">
            <input id="password" type="password" name="password" class="form-control" placeholder="Password"
                   required minlength="8" maxlength="20">
            <small class="invalid-feedback">패스워드를 입력하세요.</small>
            <span class="input-icon"><i class="fa fa-lock"></i></span>
        </div>

        <div class="form-group form-check">
            <input type="checkbox" style="width:20px;height:15px;" class="form-check-input" id="rememberMe"
                   name="remember-me" checked>&nbsp;&nbsp;
            <label class="form-check-label" for="rememberMe" aria-describedby="rememberMeHelp"><b>로그인 기억하기</b></label>
        </div>

        <button class="login-btn" type="submit">Login</button>

        <footer>
            <div class="py-5 text-center">
                <img class="mb-2" src="/images/mainLogo.png" alt="200" width="200">
                <small class="d-block mb-3 text-muted"></small>
            </div>
        </footer>
<!--        <div class="seperator"><b>or</b></div>-->
<!--        <p><b>다른 방법으로 로그인하기</b></p>-->
<!--        &lt;!&ndash; Social login buttons &ndash;&gt;-->
<!--        <div class="social-icon">-->
<!--            <div style="padding:10px;">-->
<!--                <a href="/oauth2/authorization/kakao">-->
<!--                    <img src="/images/kakao_login.png" width="170" height="70"></a>-->
<!--                <a href="/oauth2/authorization/google">-->
<!--                    <img src="/images/google_login.png" width="170" height="70"></a>-->
<!--            </div>-->
<!--        </div>-->
    </form>
</div>
</body>
<br><br>
<div th:replace="fragment.html :: footer"></div>
<script th:replace="fragment.html :: validation"></script>
</html>