<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment.html :: head"></head>
<div th:replace="fragment.html :: navigation"></div>
<div class="container">
    <div class="py-5 text-center">
        <p class="lead" th:if="${meetingList.getTotalElements()==0}">
            <strong th:text="${keyword}" id="keyword" class="context"></strong>에
            해당하는 모임이 없습니다.
        </p>
        <p class="lead" th:if="${meetingList.getTotalElements()>0}">
            <strong th:text="${keyword}" id="keyword" class="context"></strong>에
            해당하는 모임을 <span th:text="${meetingList.getTotalElements()}"></span>개 찾았습니다.
        </p>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-10">
            <div class="row">
                <div class="col-md-4" th:each="meeting: ${meetingList}">
                    <div class="card mb-4 shadow-sm">
                        <img th:src="${meeting.image}" class="card-img-top"
                             th:alt="${meeting.title}">
                        <div class="card-body">
                            <a th:href="@{'/meeting/' + ${meeting.url}}"
                               class="text-decoration-none">
                                <h5 class="card-title context" th:text="${meeting.title}"></h5>
                            </a>
                            <p class="card-text" th:text="${meeting.short_message}">Short
                                description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted"> <i class="fa fa-user-circle"></i>
                                    <span th:text="${meeting.members.size()}"></span>명
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragment.html :: footer"></div>
</body>
</html>
