<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment.html :: head"></head>
<body class="bg-light">
<nav th:replace="fragment.html :: navigation"></nav>
<div class="container">
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <div th:replace="fragment.html :: settings-menus(currentMenu='alarms')"></div>
        </div>
        <div class="col-8">
            <div th:if="${message}"
                 class="alert alert-info alert-dismissible fade show mt-3"
                 role="alert">
                <span th:text="${message}">메시지</span>
                <button type="button" class="close" data-dismiss="alert"
                        aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="row">
                <h2 class="col-sm-12">알림 설정</h2>
            </div>

            <div class="row mt-3">
                <form class="col-12" action="#" th:action="@{/settings/alarms}"
                      th:object="${alarmDto}" method="post" novalidate>
                    <div class="alert alert-light" role="alert">
                        <strong>모임에 대해 알림을 받을 방법을 설정하세요.</strong>
                    </div>

                    <div class="alert alert-light" role="alert">
                        <strong>모임 생성</strong> 에 대한 알림을 받을 방법을 설정하세요.
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-switch custom-control-inline">
                            <input type="checkbox" th:field="*{meetingCreated}"
                                   class="custom-control-input" id="meetingCreated">
                            <label class="custom-control-label" for="meetingCreated">웹으로 받기</label>
                        </div>
                    </div>
                    <div class="alert alert-light" role="alert">
                        <strong>참여중인 모임</strong>에 대한 알림을 받을 방법을 설정하세요.
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-switch custom-control-inline">
                            <input type="checkbox" th:field="*{meetingUpdated}" class="custom-control-input" id="meetingUpdated">
                            <label class="custom-control-label" for="meetingUpdated">웹으로 받기</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-primary" type="submit" aria-describedby="submitHelp">저장하기
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script th:replace="fragment.html::validation"></script>

</div>
</body>
</html>
